@import "tailwindcss";



@layer base {
  html {
    font-family: "Jost", Arial, Helvetica, sans-serif;
    line-height: 1.6;
  }
}
.rock-3d-regular {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body{
  background-color: #f6f6f6;
}