@import "tailwindcss";

@font-face {
  font-display: swap; 
  font-family: 'Jost';
  font-style: normal;
  font-weight: 100;
  src: url('../src/assets/fonts/Jost/jost-v20-latin-100.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'Jost';
  font-style: italic;
  font-weight: 100;
  src: url('../src/assets/fonts/Jost/jost-v20-latin-100italic.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'Jost';
  font-style: normal;
  font-weight: 200;
  src: url('../src/assets/fonts/Jost/jost-v20-latin-200.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'Jost';
  font-style: italic;
  font-weight: 200;
  src: url('../src/assets/fonts/Jost/jost-v20-latin-200italic.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'Jost';
  font-style: normal;
  font-weight: 300;
  src: url('../src/assets/fonts/Jost/jost-v20-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'Jost';
  font-style: italic;
  font-weight: 300;
  src: url('../src/assets/fonts/Jost/jost-v20-latin-300italic.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  src: url('../src/assets/fonts/Jost/jost-v20-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'Jost';
  font-style: italic;
  font-weight: 400;
  src: url('../src/assets/fonts/Jost/jost-v20-latin-italic.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  src: url('../src/assets/fonts/Jost/jost-v20-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'Jost';
  font-style: italic;
  font-weight: 500;
  src: url('../src/assets/fonts/Jost/jost-v20-latin-500italic.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
  src: url('../src/assets/fonts/Jost/jost-v20-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'Jost';
  font-style: italic;
  font-weight: 600;
  src: url('../src/assets/fonts/Jost/jost-v20-latin-600italic.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  src: url('../src/assets/fonts/Jost/jost-v20-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'Jost';
  font-style: italic;
  font-weight: 700;
  src: url('../src/assets/fonts/Jost/jost-v20-latin-700italic.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'Jost';
  font-style: normal;
  font-weight: 800;
  src: url('../src/assets/fonts/Jost/jost-v20-latin-800.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'Jost';
  font-style: italic;
  font-weight: 800;
  src: url('../src/assets/fonts/Jost/jost-v20-latin-800italic.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'Jost';
  font-style: normal;
  font-weight: 900;
  src: url('../src/assets/fonts/Jost/jost-v20-latin-900.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'Jost';
  font-style: italic;
  font-weight: 900;
  src: url('../src/assets/fonts/Jost/jost-v20-latin-900italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Monoton';
  font-style: normal;
  font-weight: 400;
  src: url('../src/assets/fonts/Monoton/monoton-v22-latin-regular.woff2') format('woff2');
}

@layer base {
  html {
    font-family: "Jost", Arial, Helvetica, sans-serif;
    line-height: 1.6;
  }
}
.rock-3d-regular {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body{
  background-color: #f6f6f6;
}

